*{
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(184, 110, 184);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logOut{
  visibility: hidden;
  background-color: rgb(184, 110, 184);
  border: none;
  color:white;
  cursor: pointer;
  font-size: 15px;
}

#YummyH1{
  font-family: 'Shantell Sans', cursive;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  color: #333;
}

#logOut:hover {
  color: #333;
  cursor: pointer;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

.loginbox{
  margin: 0 auto;
  width: 300px;
  height: 380px;
  /* background: burlywood; */
  /* color: #fff; */
  top: 50%;
  left:50%;
  position: absolute;
  /* display: inline-block; */
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  /* border-radius: 5%; */
  font-family: 'Ubuntu', sans-serif
}

img {
  border-radius: 10%;
  transition: filter 0.5s;
}

img:hover{
  filter: brightness(0.3);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
}

.image-wrapper {
  position: relative;
  flex-basis: 33.33%;
}

.image-container img {
  width: 250px;
  height: 250px;
  margin-right: 5px;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 40px;
}

.image-container img:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.image-wrapper:hover .image {
  filter: brightness(0.7);
}

/*
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
  transition: all 0.5s ease;
}

.image-wrapper:hover .text {
  color: white;
  visibility: visible;
}
*/

.favorite-button {

}

.favorite-button.favorited {
}