*{
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(184, 110, 184);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#YummyH1{
  font-family: 'Shantell Sans', cursive;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  color: #333;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

.loginbox{
  margin: 0 auto;
  width: 300px;
  height: 380px;
  /* background: burlywood; */
  /* color: #fff; */
  top: 50%;
  left:50%;
  position: absolute;
  /* display: inline-block; */
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  /* border-radius: 5%; */
  font-family: 'Ubuntu', sans-serif
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container img {
  width: 250px;
  height: 250px;
  margin-right: 5px;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 40px;
}

.img__wrap h4{
  margin-top: -40px;
}

.image-container img:hover {
  transform: scale(1.1);
}